<configuration>
	<appSettings>
		<!-- 
		<add key="LoggerType" value="WordListener.WordLogger"/>
		<add key="AssemblyName" value="WordListener.dll"/>
		<add key="LoggerLevel" value="warning"/>
		-->
		<add key="LoggerType" value="TextListener.TextLogger"/>
		<add key="AssemblyName" value="TextListener.dll"/>
		<add key="LoggerLevel" value="warning"/>
		<!--
		<add key="LoggerType" value="EventLogListener.EventLogger"/>
		<add key="AssemblyName" value="EventLogListener.dll"/>
		<add key="LoggerLevel" value="warning"/>
		-->
	</appSettings>
</configuration>