<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="websiteSettings" type="NET02_4.WebsiteSettings, NET02_4" />
		
	</configSections>

	<websiteSettings>
		<Setting uri="https://tut.by" timeout="5" interval="300" email="ola.androva@gmail.com" />
		<Setting uri="https://www.onet.pl/" timeout="3" interval="2" email="ola.androva@gmail.com1" />
		<Setting uri="https://github.com" timeout="3" interval="2" email="ola.androva@gmail.com" />
	</websiteSettings>
	
</configuration>